:root {
  --colors-primary: #0052cc;
  --colors-primary-dark: #172b4d;
  --colors-primary-background: white;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: underline;
  font-weight: 300;
  color: var(--colors-primary-dark);
}

select:focus {
  background-color: var(--colors-primary-dark);
  color: var(--colors-primary-background);
}
